<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>密碼變更通知</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h2,
      h3 {
        color: #333;
      }
      p {
        color: #666;
        line-height: 1.6;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 style="text-align: center; color: #f31060; font-style: italic">
        ChatRoom
      </h1>
      <h3 style="text-align: center">密碼變更通知</h3>
      <p>親愛的 <%= username %>，您好！</p>
      <p>您的 ChatRoom 帳戶密碼已經成功變更。</p>
      <p>如果您並未執行此操作，請立即聯繫我們的客戶服務團隊。</p>
      <p>請妥善保管您的帳戶資訊，並定期變更密碼以保障帳戶安全。</p>
      <p>如有任何疑問或需要幫助，請隨時與我們聯繫。</p>
      <p>此致，<br />ChatRoom 團隊</p>
    </div>
  </body>
</html>
